<!DOCTYPE html>
<html>
<head>
	<title>董昱的博客 Yu Dong's Blog -- 地球|互联网|设计|生活</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="./images/favicon.ico" rel="shortcut icon"/>
    <link href="http://how2j.cn/study/css/bootstrap/3.0.3/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/maincommon.css">
	<link rel="stylesheet" type="text/css" href="./css/about.css">
</head>
<body>
	<div class="top">
        <span><a href="#">Article</a></span>
        <span><a href="#">Note</a></span>
        <span><a href="#">Design</a></span>
        <span><a href="#">Life</a></span>
        <span class="right"><a href="#" title="这是提示">About</a></span>
        <span class="right"><a href="#">Research</a></span>
        <span class="right"><a href="#">GitHub</a></span>
	</div>
    <div class="header">
        <div class="headercontent">
            <div class="title"><img src="./images/ic_main.png" alt="Site Icon"/>董昱的博客 - Yu Dong's Blog</div>
            <div class="subtitle">Earth | Internet | Design | Life</div>
        </div>
    <div class="menu">
    </div>
    <div class="main">
        <div class="note">
            <div class="content">
                <p class="information">
                    <img src="./assets/pictures/avatar.jpg"></img>  <!-- hspace="5" vspace="5" align="left" -->
                </p>
                <h1>Basic</h1>
                <p>董昱 Dong Yu</p>
                <p>E-mail: dongyu1009#163.com</p>
                <li><a>CSDN</a></li>
                <li><a>知乎</a></li>
                <li><a>微博</a></li>
                <h1>Biography</h1>
                <p>I received my B.Sc degree in Geography Information System in June 2014 from Hebei Normal University</p>
                <p>Currently, I am a post-student in Chinese Academy of Sciences</p>
                <h1>Research Interest</h1>
                <p>Geography Information System</p>
                <p>Remote Sences of Resources</p>
                <p>App Developer for Android and iOS</p>
                <h1>Memtioned</h1>
                <p>This is just a simple blog pages, finished in leisure time by me. There must be so many errors in grammar or in knowledge. Please currect me if you have found someting wrong.</p> <!-- improper expression -->
                <p>本博客是本人在闲暇时间完成的拙作。由于英文和专业知识水平有限，如有错误请多多包涵。您可以在下方给我留言指出错误与改进建议。非常感谢。 </p>
                <p>（づ￣3￣）づ╭❤～</p>
                <p>本网站开源地址</p>
                <p>Give me some advice : </p>
                <form>
                    <textarea name="advice" placeholder="Anything you want to say ... "></textarea>
                    <input type="text" name="contect" placeholder="Your E-mail \ Phone \ Wechat ...">
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>Yu Dong 董昱 Tel. +86 15110090085 E-mail://dongyu1009#163.com</div>
        <div>Designed By Yu Dong. 京ICP备16035494号-2</div>
    </div>
    <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/about.js"></script>
</body>
</html>
