<!DOCTYPE html>
<html>
<head>
	<title>董昱的博客 Yu Dong's Blog -- 地球|互联网|设计|生活</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="./images/favicon.ico" rel="shortcut icon"/>
    <link href="http://how2j.cn/study/css/bootstrap/3.0.3/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/maincommon.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
	<div class="top">
        <span><a href="./blogs.php">Article</a></span>
        <span><a href="#">Note</a></span>
        <span><a href="#">Design</a></span>
        <span><a href="#">Life</a></span>
        <span class="right"><a href="#">About</a></span>
        <span class="right"><a href="#">Research</a></span>
        <span class="right"><a href="#">GitHub</a></span>
	</div>
	<div class="main">
        <div class="maincontain">   
            <div class="block"></div>
            <div class="title content">董昱的个人博客</div>
            <div class="subdesc content">Yu Dong's Personal Blog</div>
            <div class="desc content">&nbsp;</div>
            <div class="desc content">一个关于地球科学、互联网技术、设计、生活的博客。</div>
            <div class="desc content">A Blog about Earth, Internet, Design and Life.</div>
            <div class="desc content">&nbsp;</div>
            <div class="mani content">
                <button class="mainbutton">Article</button>
                &nbsp;
                <button class="mainbutton">Note</button>
            </div>
            <div class="subdesc content">&nbsp;</div>
            <div class="subdesc content">
                <a href="#">Design</a> | 
                <a href="#">Life</a> | 
                <a href="#">GitHub</a> | 
                <a href="#">About</a>
            </div>
            <div class="subdesc content bottom">
                <div>Yu Dong 董昱 Tel. +86 15110090085 E-mail://dongyu1009#163.com</div>
                <div>Designed By Yu Dong. 京ICP备16035494号-2</div>
            </div>
            <script type="text/javascript" src="./js/index.js"></script>
        </div>
	</div>
    <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
</body>
</html>
