<!DOCTYPE html>
<html>
<head>
	<title>董昱的博客 Yu Dong's Blog -- 地球|互联网|设计|生活</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="./images/favicon.ico" rel="shortcut icon"/>
    <link href="http://how2j.cn/study/css/bootstrap/3.0.3/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/maincommon.css">
	<link rel="stylesheet" type="text/css" href="./css/picture.css">
</head>
<body>
	<div class="top">
        <span><a href="#">Article</a></span>
        <span><a href="#">Note</a></span>
        <span><a href="#">Design</a></span>
        <span><a href="#">Life</a></span>
        <span class="right"><a href="#">About</a></span>
        <span class="right"><a href="#">Research</a></span>
        <span class="right"><a href="#">GitHub</a></span>
	</div>
    <div class="header">
        <div class="headercontent">
            <div class="title"><img src="./images/ic_main.png" alt="Site Icon"/>小小的博文</div>
            <div class="subtitle">blog blog blog</div>
        </div>
    <div class="menu">
    </div>
    <div class="main">
        <div class="note">
            <div class="content">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/2.5/cn/80x15.png" /></a>
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">Creative Commons Attribution-NonCommercial-ShareAlike 2.5 China Mainland License</a>.<br>

                本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">知识共享署名-非商业性使用-相同方式共享 2.5 中国大陆许可协议</a>进行许可。
            </div>
        </div>
        <div class="note">
            <div class="content">
                <img class="mainimage" src="./images/b.png"/>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>Yu Dong 董昱 Tel. +86 15110090085 E-mail://dongyu1009#163.com</div>
        <div><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/2.5/cn/80x15.png" /></a>&nbsp;Designed By Yu Dong. 京ICP备16035494号-2</div>
    </div>
    <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/picture.js"></script>
</body>
</html>
