<!DOCTYPE html>
<html>
<head>
	<title>董昱的博客 Yu Dong's Blog -- 地球|互联网|设计|生活</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="./images/favicon.ico" rel="shortcut icon"/>
    <link href="http://how2j.cn/study/css/bootstrap/3.0.3/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/maincommon.css">
	<link rel="stylesheet" type="text/css" href="./css/tasks.css">
</head>
<body>
	<div class="top">
        <span><a href="#">Article</a></span>
        <span><a href="#">Note</a></span>
        <span><a href="#">Design</a></span>
        <span><a href="#">Life</a></span>
        <span class="right"><a href="#">About</a></span>
        <span class="right"><a href="#">Research</a></span>
        <span class="right"><a href="#">GitHub</a></span>
	</div>
    <div class="header">
        <div class="headercontent">
            <div class="title"><img src="./images/ic_main.webp" alt="Site Icon"/>小小的博文</div>
            <div class="subtitle">blog blog blog</div>
        </div>
    <div class="menu">
    </div>
    <div class="main">
        <div class="main-left">
            <div class="panel-null"></div>
            <div class="panel">
                <div class="title"><b>互联网<span>- More -</span></b></div>
                <div class="content">地球<span>(90)</span></div>
                <div class="content">地球<span>(90)</span></div>
                <div class="content">地球<span>(90)</span></div>
            </div>
            <div class="panel">
                <div class="title"><b>互联网<span>- More -</span></b></div>
                <div class="content">地球<span>(90)</span></div>
                <div class="content">地球<span>(90)</span></div>
                <div class="content">地球<span>(90)</span></div>
            </div>
        </div>
        <div class="main-right">
            <div><button>sdaf</button></div>
            <div class="title">
                <span class="label">已完成</span>
                This is a test Class
                <span class="time">
                    2017-10-9
                    <a href="#">Edit</a>&nbsp;
                    <a href="#">Delete</a>&nbsp;
                </span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>Yu Dong 董昱 Tel. +86 15110090085 E-mail://dongyu1009#163.com</div>
        <div>Designed By Yu Dong. 京ICP备16035494号-2</div>
    </div>
    <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/tasks.js"></script>
</body>
</html>
