<!DOCTYPE html>
<html>
<head>
	<title>董昱的博客 Yu Dong's Blog -- 地球|互联网|设计|生活</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="./images/favicon.ico" rel="shortcut icon"/>
    <link href="http://how2j.cn/study/css/bootstrap/3.0.3/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/maincommon.css">
	<link rel="stylesheet" type="text/css" href="./css/video.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">

</head>
<body>
	<div class="top">
        <span><a href="#">Article</a></span>
        <span><a href="#">Note</a></span>
        <span><a href="#">Design</a></span>
        <span><a href="#">Life</a></span>
        <span class="right"><a href="#">About</a></span>
        <span class="right"><a href="#">Research</a></span>
        <span class="right"><a href="#">GitHub</a></span>
	</div>
    <div class="header">
        <div class="headercontent">
            <div class="title"><img src="./images/ic_main.png" alt="Site Icon"/>小小的博文</div>
            <div class="subtitle">blog blog blog</div>
        </div>
    <div class="menu">
    </div>
    <div class="main">
        <div class="note">
            <div class="content">
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/2.5/cn/88x31.png" hspace="2" vspace="2" align="left"/></a>
                     This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">Creative Commons Attribution-NonCommercial-ShareAlike 2.5 China Mainland License</a>.<br>
                     本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">知识共享署名-非商业性使用-相同方式共享 2.5 中国大陆许可协议</a>进行许可。

                </p>
            </div>
        </div>
        <div class="note">
            <div class="content">
                <video src="./assets/videos/movie.ogg" controls="controls">
                    您的浏览器不支持 video 标签。
                    Your browser is not supporting the video tag.
                </video>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>Designed By Yu Dong 董昱 <i class="fa fa-phone" aria-hidden="true"></i>+86 15110090085 E-mail:dongyu1009#163.com </div>
        <div style="height:30px;line-height:30px;">
            <div style="display: inline-block;height:30px;line-height:30px;">京ICP备16035494号-2</div>
            <div style="display: inline-block;height:30px;line-height:30px;">
                <a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:30px;line-height:30px;">
                    <img style="float: left;width: 20px;padding-top: 6px;" src="./images/ic_ab.png">
                    <span>公网安备 00000000000000号</span>
                </a>
            </div>
        </div>
    </div>
    <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
</body>
</html>
